@model SETEC.Data.Entities.Verificacion

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Verificacion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha_Creacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha_Creacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha_Verificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha_Verificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa_Verificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empresa_Verificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Identidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Identidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre_Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre_Cliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tienda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tienda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tel_Empresa_Labor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tel_Empresa_Labor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa_Labor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empresa_Labor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Colonia_Empresa_Labor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Colonia_Empresa_Labor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bloque_Empresa_Labor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bloque_Empresa_Labor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Peatonal_Empresa_Labor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Peatonal_Empresa_Labor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZonaEtapa_Empresa_Labor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZonaEtapa_Empresa_Labor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Calle_Empresa_Labor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Calle_Empresa_Labor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ave_Empresa_Labor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ave_Empresa_Labor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sector_Empresa_Labor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sector_Empresa_Labor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Casa_Empresa_Labor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Casa_Empresa_Labor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Planta1_Empresa_Labor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Planta1_Empresa_Labor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Planta2_Empresa_Labor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Planta2_Empresa_Labor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Edificio_Empresa_Labor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Edificio_Empresa_Labor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color_Empresa_Labor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color_Empresa_Labor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sucursal_Empresa_Labor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sucursal_Empresa_Labor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DireccionSucursal_Empresa_Labor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DireccionSucursal_Empresa_Labor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Local)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Local)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TiempoLocal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TiempoLocal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TiempoLocalActual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TiempoLocalActual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TiempoLocalAnterior)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TiempoLocalAnterior)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColoniaLocalAnterior)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColoniaLocalAnterior)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteEmpresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClienteEmpresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermisoOperacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermisoOperacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FotografiaPermisoOperacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FotografiaPermisoOperacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CotizaRap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CotizaRap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CotizaIHSS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CotizaIHSS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CotizaINJUPEMP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CotizaINJUPEMP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormadePago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormadePago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TamEmpresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TamEmpresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RubroEmpresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RubroEmpresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IngresoMensual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IngresoMensual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorasExtras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorasExtras)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Promedio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Promedio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaIngreso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaIngreso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Puesto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Puesto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Depto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Depto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JefeInmediato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JefeInmediato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorarioTrabajo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorarioTrabajo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonoCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefonoCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonoRRHH)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefonoRRHH)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonaConfirma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonaConfirma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PuestoPersonaConfirma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PuestoPersonaConfirma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoviemientoClientes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoviemientoClientes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mobiliario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mobiliario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estacionamiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estacionamiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FotoEstacionamiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FotoEstacionamiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusConformacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusConformacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RazonNoConfirmacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RazonNoConfirmacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeSugiereNuevaVisita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeSugiereNuevaVisita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RazonNuevaVisita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RazonNuevaVisita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SePudoRealizar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SePudoRealizar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RazonNoRealizacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RazonNoRealizacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dictamen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dictamen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gestor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gestor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UbicacionGPS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UbicacionGPS)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
