@model SETEC.Data.Entities.User

@{
    ViewData["Title"] = "Delete";
}

<div class="bg-white" style="padding: 0 20px 20px 20px">
<h1 class="text-danger">Eliminar registro</h1>

    <h3 class="text-danger">¿Esta seguro que desea eliminar el registro mostrado?</h3>
<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.usuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.empresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.empresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.rol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fecha)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a class="btn btn-primary" asp-action="Index">Volver a lista</a>
    </form>
</div>
</div>
