@model IEnumerable<SETEC.Data.Entities.HistoricoClientesContrato>

@{
    ViewData["Title"] = "Index";
}

<div class="bg-white" style="padding: 0 20px 20px 20px;">
    <h1 style="color:darkslateblue;">Historico de Ingresos</h1>



    <button id="toggleFilters" class="btn btn-primary btnB  tooltipC" onclick="ocultar()" style="display:inline">
        <h3>
            <i class="bi bi-funnel"></i>
        </h3>
        <span class="tooltiptext">Mostrar u ocultar filtro</span>
    </button>
    <a asp-action="Create" class="btn btn-outline-warning btnB tooltipC">
        <h3>
            <i class="bi bi-file-earmark-plus"></i>
        </h3>
        <span class="tooltiptext">Crear un nuevo registro</span>
    </a>
    <button id="exportToExcel" class="btn btn btn-success btnB tooltipC">
        <h3>
            <i class="bi bi-filetype-xls"></i>
        </h3>
        <span class="tooltiptext">Exportar a Excel</span>
    </button>
    <div>
        <div id="Filters" class="bg-light" style="display: block; outline:thin; outline-color:gray;padding: 20px 20px 20px 20px; margin: 10px 10px 10px 0">
            <form asp-action="Index" method="get" id="filtros">
                <div class="form-group">
                    <label for="agencia">Agencia:</label>
                    <select name="agencia" id="agencia" class="form-control" onchange="getForm(event)">
                        @if (ViewBag.Agencia is null)
                        {
                            <option value="">Seleccionar Agencia</option>
                        }
                        else
                        {
                            <option selected value=@ViewBag.Agencia>@ViewBag.Agencia</option>
                            <option value="">***Quitar Filtros***</option>
                        }
                        @foreach (var item in ViewBag.Agencias)
                        {

                            <option value="@item.Text">
                                @item.Text
                            </option>
                        }
                    </select>
                </div>


                <div class="form-group">
                    <label for="nombre">Nombre del cliente:</label>
                    <input type="text" name="nombre" id="nombre" class="form-control" value="@ViewBag.Nombre" onchange="getForm(event)">
                </div>


                <div class="form-group">
                    <label for="mesAnio">Mes y Año:</label>
                    <select name="mesAnio" id="mesAnio" class="form-control" onchange="getForm(event)">
                        <option value="">-- Seleccionar Mes y Año --</option>
                        @foreach (var item in ViewBag.MesesAnios)
                        {
                            <option value="@item.Value">
                                @item.Text
                            </option>
                        }
                    </select>
                </div>
                <button type="submit" class="btn btn-primary btnB" style="margin:10px 0 0 0;"><i class="bi bi-search"></i></button>
            </form>
        </div>


        <div class="table-container bg-white">
            <table class="table table-bordered table-striped" id="Historico">
                <thead>
                    <tr class="btnB text-center text-capitalize">
                        <th>
                            Opciones
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Fechagestion)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Tipo_Ingreso)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Agencia)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Gestor)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Agente)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Identidad)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Nombre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Contrato)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Codigo_Gestion)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Desc_gestion)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Saldo_mora)
                        </th>
                        <th class="align-content-end">
                            @Html.DisplayNameFor(model => model.Saldo_Total)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Descuento)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Monto_promesa)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Fecha_Promesa)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Fecha_Agenda)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Latitud)
                        </th>
                        <th>
                            Pineo
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Comentario)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary btn-outline-primary bi-pen"></a> |
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger bi-x-lg"></a>
                            </td>


                            <td>
                                @Html.DisplayFor(modelItem => item.Fechagestion)
                            </td>
                            <td>

                                @Html.DisplayFor(modelItem => item.Tipo_Ingreso)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Agencia)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Gestor)
                            </td>
                            <td>

                                @Html.DisplayFor(modelItem => item.Agente)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Identidad)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Contrato)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Codigo_Gestion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Desc_gestion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Saldo_mora)
                            </td>
                            <td class="text-end">
                                @Html.DisplayFor(modelItem => item.Saldo_Total)
                            </td>
                            <td class="text-end">
                                @Html.DisplayFor(modelItem => item.Descuento)
                            </td>
                            <td class="text-end">
                                @Html.DisplayFor(modelItem => item.Monto_promesa)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Fecha_Promesa)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Fecha_Agenda)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Latitud)
                            </td>
                            <td>
                                <div>
                                    <a href="https://www.google.com/maps?q= @Html.DisplayFor(modelItem => item.Latitud)" target="_blank">Abrir en Google Maps</a>
                                </div>
                            </td>
                            <td style="max-width: 1000px; text-overflow: ellipsis; white-space: normal; height: auto;">
                                @Html.DisplayFor(modelItem => item.Comentario)
                            </td>
                            <td>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>

@section scripts
    {
    <script>
        function ocultar() {
            var boton = document.getElementById("toggleFilters")
            var filterForm = document.getElementById("Filters");
            // Alterna la visibilidad del formulario de filtros
            if (filterForm.style.display === "none") {
                filterForm.style.display = "block";

            } else {
                filterForm.style.display = "none";
            }
        }


        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("exportToExcel").addEventListener("click", function () {
                const table = document.getElementById("Historico");
                const headers = Array.from(table.querySelectorAll("thead th")).map(th => '"' + th.textContent.trim() + '"');
                const rows = table.querySelectorAll("tbody tr");
                let csvContent = headers.join(",") + "\n";

                rows.forEach((row) => {
                    const rowData = [];
                    row.querySelectorAll("td").forEach((cell) => {
                        rowData.push('"' + cell.textContent.trim() + '"');
                    });
                    csvContent += rowData.join(",") + "\n";
                });

                console.log("Final CSV Content: ", csvContent);  // Log the final CSV content

                // Create a Blob from the CSV content
                const blob = new Blob([csvContent], { type: 'text/csv;charset=utf-8;' });

                // Create a link to download the Blob
                const link = document.createElement("a");
                if (link.download !== undefined) {  // Feature detection
                    const url = URL.createObjectURL(blob);
                    link.setAttribute("href", url);
                    link.setAttribute("download", "historico.csv");
                    link.style.visibility = 'hidden';
                    document.body.appendChild(link);
                    link.click();
                    document.body.removeChild(link);
                }
            });
        });



        function getForm(e) {
            e.preventDefault();
            filtros.submit();

        }


    </script>


    }