@model IEnumerable<SETEC.Data.Entities.HistoricoClientesContrato>

@{
    ViewData["Title"] = "Index";
}

<h1>Historico de Ingresos</h1>

<p>
    <a asp-action="Create">Crear Nuevo Registro</a>
   
</p>
<div class="table-container">
<table class="table table-bordered table-striped table" ">
    <thead class="table-dark">
        <tr class="text-center text-capitalize">
            <th>
                @Html.DisplayNameFor(model => model.Fechagestion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Identidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contrato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Codigo_Gestion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desc_gestion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto_promesa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha_Promesa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitud)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fechagestion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Identidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contrato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo_Gestion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desc_gestion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto_promesa)
            </td>
            <td>

                @Html.DisplayFor(modelItem => item.Fecha_Promesa)
            </td>
                    <td>

                @Html.DisplayFor(modelItem => item.Fecha_Agenda)
                    </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitud)
            </td>
             <td>
              <div>
              <a href="https://www.google.com/maps?q= @Html.DisplayFor(modelItem => item.Latitud)" target="_blank">Abrir en Google Maps</a>
             </div>
             </td>
            <td>

                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                
            </td>
           
        </tr>
        }
    </tbody>
</table>
</div>
