@model IEnumerable<SETEC.Data.Entities.User>

@{
    ViewData["Title"] = "Index";
    var listadousuarios = ViewBag.Users;
}


<h1>Creacion y modificacion de usuarios</h1>
<h2></h2>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Crear Nuevo Usuario</a>
</p>

<form asp-controller="Users" asp-action="Index" method="get">
    <p>
        
       
    </p>
    @Html.DropDownList("buscar",new SelectList(listadousuarios),
    "Selecciones el usuario",
    new {@class = "form-control", @name="buscar"})
    <input type="submit" value="buscar" class="btn btn-primary" />



</form>



<table class="table">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.empresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.empresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
