@model SETEC.Data.Entities.ActualViewModel
@inject IJsonHelper Json;
@using Newtonsoft.Json;

@{
    var numcontratos = 0;
    numcontratos=Model.ActualClientesList.Count();
    var hoy = 0;
} 

<head>
 
    <script>
        var contador = 0;
        var NumContratos = @numcontratos;
        var modelo = @Html.Raw(JsonConvert.SerializeObject(Model.ActualClientesList));
        var modeloGestion = @Html.Raw(JsonConvert.SerializeObject(Model.Mastergestion));
 </script>    


</head>
<p><br/></p>
<div class="col-md-6 offset-md-3 bg-white rounded-3" style="padding: 0 10px 0 10px;" >
    <div class=" text-center text-light rounded btnB"> 
        <h1 >
        VISITAS DE COBRO
        </h1>
    </div>
    <form asp-controller="Actual" asp-action="Inforoute1" method="get" class="form-floating" id="form" name="form">

        <div>
        <label class="text-primary text fw-bold">GESTOR DE COBROS</label>
        @Html.DropDownList("searchGestor",new SelectList(Model.ActualClientesListDropDown.Select (u => new SelectListItem            
            {
                Value=  u.Gestor?.ToString(),
                Text=  u.Gestor?.ToString() 
            }).GroupBy(item => item.Value).Select(group => group.First()),"Value", "Text"),
            "Seleccione Gestor/Seleccionar Todo",
        new {@class = "form-control", @name="buscarGestor", onchange="getForm(event)"})
        
        </div>
      
        <div>
            <label class="text-primary text fw-bold">FECHA DE AGENDA</label>
        @Html.DropDownList("searchDate",new SelectList(Model.ActualClientesListDropDown.Select (u => new SelectListItem            
            {
                Value=  u.Fecha_Agenda.ToString(),
                Text=  u.Fecha_Agenda.ToString() 
            }).GroupBy(item => item.Value).Select(group => group.First()),"Value", "Text"),
            "Seleccione fecha de visita/Seleccionar Todo",
        new {@class = "form-control", @name="buscarFecha", onchange="getForm(event)"})
        </div>
        <div >
        <label class="text-primary text fw-bold">IDENTIFICACION DEL CLIENTE</label>
        @Html.DropDownList("search",new SelectList(Model.ActualClientesListDropDown.Select (u => new SelectListItem            
            {
                Value= u.Identidad,
                Text=  u.Identidad + " - " + u.Nombre 
            }).GroupBy(item => item.Value).Select(group => group.First()),"Value", "Text"),
            "Selecciones el numero de identificacion del cliente/Seleccionar Todo",
        new {@class = "form-control", @name="buscar", onchange="getForm(event)"})
        <input form-floating id="buscar" type="submit" value="buscar" class="btn btn-primary" name="busqueda" />
        </div>
        
        
       

        <p>Cantidad de Contratos @numcontratos</p>
         @if(numcontratos>1)
          { 
        <div class="form-floating"> 
            <button id="BackContrato" type="button"  class=btn-outline-primary>Anterior</button>
            <button id="NextContrato" type="button"  class=btn-outline-primary>Siguiente</button>
            <button type="submit" asp-controller="Actual" asp-action="Actualidad" name="buscaridentidad" value="@Model.ActualClientesList.First().Identidad"  class=btn-outline-primary>Ver todos</Button>   
        </div>
        }
        <div class="form-floating">
            <input id="floatnombre" value="@Model.ActualClientesList.First().Nombre" class="form-control form-floating" readonly/>
            <label for="floatnombre" class="text-primary text fw-bold">NOMBRE DEL CLIENTE:</label>
        </div>
        <div class="form-floating">
            <input value="@Model.ActualClientesList.First().Contrato" class="form-control form-floating" id="floatContrato" readonly>
            <label for="floatContrato" class="text-primary text fw-bold">NUMERO DE CONTRATO:</label>
        </div>
        <div class="form-floating">
            <input value="@Model.ActualClientesList.First().Antiguedad" class="form-control form-floating" id="floatAntiguedad" readonly>
            <label for="floatAntiguedad" class="text-primary text fw-bold">ANTIGUEDAD:</label>
        </div>
        <div class="form-floating">
            <input value="@Model.ActualClientesList.First().Canal_de_venta" class="form-control form-floating" id="floatCanal" readonly>
            <label for="floatCanal" class="text-primary text fw-bold">CANAL DE VENTA:</label>
        </div>
        <div class="form-floating">
            <input value="@Model.ActualClientesList.First().Articulos" class="form-control form-floating" id="floatArticulos" readonly>
            <label for="floatArticulos" class="text-primary text fw-bold">ARTICULOS:</label>
        </div>
        <div class="form-floating">
            <input value="@Model.ActualClientesList.First().Tipo_de_cartera" class="form-control form-floating" id="floatCartera" readonly>
            <label for="floatCartera" class="text-primary text fw-bold">TIPO DE CARTERA:</label>
        </div>
        <div class="form-floating">
            <input value="@Model.ActualClientesList.First().Dias_de_atraso" class="form-control form-floating" id="floatAtraso" readonly>
            <label for="floatAtraso" class="text-primary text fw-bold">DIAS DE ATRASO:</label>
        </div>
        <div class="form-floating">
            <input value="@Model.ActualClientesList.First().Monto_mensual_Factura" class="form-control form-floating" id="floatFactura" readonly>
            <label for="floatFactura" class="text-primary text fw-bold">MONTO MENSUAL FACTURA:</label>
        </div>
        <div class="form-floating">
            <input value="@Model.ActualClientesList.First().Saldo_total_credito" class="form-control form-floating" id="floatCredito" readonly>
            <label for="floatCredito" class="text-primary text fw-bold">SALDO TOTAL CREDITO:</label>
        </div>
        <div class="form-floating">
            <input value="@Model.ActualClientesList.First().Saldo_en_Mora" class="form-control form-floating" id="floatMora" readonly>
            <label for="floatMora" class="text-primary text fw-bold">SALDO EN MORA:</label>
        </div>
        <div class="form-floating">
            <input value="@Model.ActualClientesList.First().Descuento" class="form-control form-floating" id="floatDescuento" readonly>
            <label for="floatDescuento" class="text-primary text fw-bold">DESCUENTO:</label>
        </div>
        <div class="form-floating">
            <input value="@Model.ActualClientesList.First().Pago_con_descuento" class="form-control form-floating" id="floatPagoDescuento" readonly>
            <label for="floatPagoDescuento" class="text-primary text fw-bold">PAGO CON DESCUENTO:</label>
        </div>
        <div class="form-floating">
            <input value="@Model.ActualClientesList.First().Vencimiento_factura" class="form-control form-floating" id="floatVfactura" readonly>
            <label for="floatVfactura" class="text-primary text fw-bold">VENCIMIENTO FACTURA:</label>
        </div> 
    </form>
    
    <div class="container-fluid text-center btnB text-light rounded ">
        <h1 >
        INGRESO DE GESTIONES
        </h1>
        <button id="NewGestion" class="btn-outline-primary rounded-3">CREAR NUEVA GESTION</Button>
    </div>
    <form asp-controller="Historico" asp-action="Create" method="post" class="form-control" name="ingresoVisita">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="@Model.HistoricoClientesContrato.Fechagestion" class="control-label"></label>
            <input asp-for="@Model.HistoricoClientesContrato.Fechagestion" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" readonly/>
            <span asp-validation-for="@Model.HistoricoClientesContrato.Fechagestion" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.HistoricoClientesContrato.Identidad" class="control-label" ></label>
            <input asp-for="@Model.HistoricoClientesContrato.Identidad" class="form-control" id="IdeIngreso" readonly />
            <span asp-validation-for="@Model.HistoricoClientesContrato.Identidad" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.HistoricoClientesContrato.Nombre" class="control-label"></label>
            <input asp-for="@Model.HistoricoClientesContrato.Nombre" class="form-control" id="IdeName" readonly />
            <span asp-validation-for="@Model.HistoricoClientesContrato.Nombre" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.HistoricoClientesContrato.Contrato" class="control-label"></label>
            <input asp-for="@Model.HistoricoClientesContrato.Contrato" class="form-control" id="IdeContrato" readonly />
            <span asp-validation-for="@Model.HistoricoClientesContrato.Contrato" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.HistoricoClientesContrato.Codigo_Gestion" class="control-label"></label>
            <select asp-for="@Model.HistoricoClientesContrato.Codigo_Gestion" class="form-control" id="SelectCod">
                @foreach(var item in Model.Mastergestion)
                {
                    <option value="@item.idgestion">@item.idgestion</option>
                }
                <option selected disabled value="0">Elija la el codigo de gestion</option>
            </select>
            <span asp-validation-for="@Model.HistoricoClientesContrato.Codigo_Gestion" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.HistoricoClientesContrato.Desc_gestion" class="control-label"></label>
            <input asp-for="@Model.HistoricoClientesContrato.Desc_gestion" class="form-control form-floating" readonly id="SelectDes" />
            <span asp-validation-for="@Model.HistoricoClientesContrato.Desc_gestion" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.HistoricoClientesContrato.Monto_promesa" class="control-label"></label>
            <input asp-for="@Model.HistoricoClientesContrato.Monto_promesa" class="form-control form-floating" />
            <span asp-validation-for="@Model.HistoricoClientesContrato.Monto_promesa" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label  asp-for="@Model.HistoricoClientesContrato.Fecha_Promesa" class="control-label"></label>
            <input asp-for="@Model.HistoricoClientesContrato.Fecha_Promesa" class="form-control form-floating" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />
            <span asp-validation-for="@Model.HistoricoClientesContrato.Fecha_Promesa" class="text-danger"></span>
        </div>
         <div class="form-group">
            <label  asp-for="@Model.HistoricoClientesContrato.Fecha_NuevaVisita" class="control-label">Nueva Visita</label>
            <input asp-for="@Model.HistoricoClientesContrato.Fecha_NuevaVisita" class="form-control form-floating" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />
            <span asp-validation-for="@Model.HistoricoClientesContrato.Fecha_NuevaVisita" class="text-danger"></span>
        </div>
         <div class="form-group">
            <label asp-for="@Model.HistoricoClientesContrato.Comentario" class="control-label">Comentarios</label>
            <textarea asp-for="@Model.HistoricoClientesContrato.Comentario" class="form-control form-floating"></textarea>
            <span asp-validation-for="@Model.HistoricoClientesContrato.Comentario" class="text-danger"></span>
         </div>
            <div class="form-group">  
            <input hidden asp-for="@Model.HistoricoClientesContrato.Latitud" class="form-control form-floating" id="lat"/>
            <span asp-validation-for="@Model.HistoricoClientesContrato.Latitud" class="text-danger"></span>
        </div>
            <input hidden name="tipoIngreso" id="tipoIngreso" value="Visita"/>
        <div class="form-group">
            <input type="submit" value="Grabar gestion" class="btn btn-primary form-control btnB" onclick="dataValidation(event)" />
        </div>
    </form>
</div>

            @section scripts
    {

    <script>



        function getForm(e) {
            e.preventDefault();
            form.submit();
                         
        }

        function dataValidation(e) {
            

            if (document.getElementById("SelectDes").value === '') {
                Swal.fire('Mensaje','El valor de Descripcion de gestion esta vacio, debe llenarlo seleccionando un codigo','warning');
                e.preventDefault();
            }
            else 
            {
                Swal.fire('Mensaje', 'Se ingresaron los datos', 'success');
                ingresosVisita.submit;
                
            }

        }


    </script>

}