@model SETEC.Data.Entities.ActualidadCliente
@inject IJsonHelper Json;
@using Newtonsoft.Json;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

 <head>
        <script 
            
            src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js">
            
        
        </script>
     
        <script>

            document.addEventListener("DOMContentLoaded", function () {

               
               
                var AddressVar = document.getElementById("FileAddress")
                const dataTableBody = document.getElementById("data-table").getElementsByTagName('tbody')[0];
                AddressVar.addEventListener("change", function () {                    
                    const selectedFiles = AddressVar.files;
                    const file = selectedFiles[0];   
                    const reader = new FileReader();
                Papa.parse(file, {
                    header: true,   
                    delimiter: ";", 
                    dynamicTyping: true, 
                    complete: function (results) {
                        const data = results.data;
                        dataTableBody.innerHTML = "";
                        data.forEach(function (row) {
                            const newRow = dataTableBody.insertRow();
                            for (const key in row) {
                                const cell = newRow.insertCell();
                                cell.textContent = row[key];
                               
                            }
                        });
                        const jsonData = JSON.stringify(data);
                        document.getElementById("datos").value = jsonData;
                        console.log(jsonData)
                    },
                });
            });
            
        });
        </script>



 </head>


<h3>Carga masiva de cartera actual</h3>

<div>
    <h6>Antes de cargar el archivo asegurese que la informacion sea la correcta: </h6>
    <form class="form-control">
        <input type="file" class="form-control" id="FileAddress" readonly>
        <button class="btn btn-primary">Cargar Archivos</button></>
    </form>

    <br/>
    <br />
    <br />
    <h6>Informacion del archivo cargado: </h6>
    <div class="table-container">
        <form method="post" action="/Actual/SubirATabla">
            <input type="hidden" name="datos" id="datos" />
            <button type="submit" class="btn btn-primary">Guardar en la base de datos</button>
        </form>
       
        @using (Html.BeginForm("InsertarDatos","Actual", FormMethod.Post))
        {
        <table class="table table-striped table-bordered table-sm" cellspacing="0" width="20%" id="data-table">
            <thead class="table-dark">
                <tr>
                    <th>id</th>
                    <th>Gestor</th>
                    <th>Nombre</th>
                    <th>Antiguedad</th>
                    <th>Canal_de_venta</th>
                    <th>Articulos</th>
                    <th>Tipo_de_cartera</th>
                    <th>Dias_de_atraso</th>
                    <th>Monto_mensual_Factura</th>
                    <th>Saldo_total_credito</th>
                    <th>Saldo_en_Mora</th>
                    <th>Descuento</th>
                    <th>Pago_con_descuento</th>
                    <th>Vencimiento_factura</th>
                    <th>Contrato</th>
                    <th>Numero_telefono</th>
                    <th>Identidad</th>
                </tr>
            </thead>
            <tbody> 
                <tr>
                    <td>@Html.HiddenFor(model => model.id)</td>
                    <td>@Html.HiddenFor(model => model.Gestor)</td>
                    <td>@Html.HiddenFor(model => model.Nombre)</td>
                    <td>@Html.HiddenFor(model => model.Antiguedad)</td>
                    <td>@Html.HiddenFor(model => model.Canal_de_venta)</td>
                    <td>@Html.HiddenFor(model => model.Articulos)</td>
                    <td>@Html.HiddenFor(model => model.Tipo_de_cartera)</td>
                    <td>@Html.HiddenFor(model => model.Dias_de_atraso)</td>
                    <td>@Html.HiddenFor(model => model.Monto_mensual_Factura)</td>
                    <td>@Html.HiddenFor(model => model.Saldo_total_credito)</td>
                    <td>@Html.HiddenFor(model => model.Saldo_en_Mora)</td>
                    <td>@Html.HiddenFor(model => model.Descuento)</td>
                    <td>@Html.HiddenFor(model => model.Pago_con_descuento)</td>
                    <td>@Html.HiddenFor(model => model.Vencimiento_factura)</td>
                    <td>@Html.HiddenFor(model => model.Contrato)</td>
                    <td>@Html.HiddenFor(model => model.Numero_telefono)</td>
                    <td>@Html.HiddenFor(model => model.Identidad)</td>

                </tr>
                </tbody>
        </table>
    <input type="submit" value="Insertar Datos" />
    }
    </div>

</div>
